@{
    ViewBag.Title = "Acerca de";
}
<p>Proyecto para la asignatura de Probabilidad y Estadística de la carrera de Ingeniería en Computación</p>
<p>
    <a href="http://jquery.com/">JQuery</a><br /> 
    <a href="http://jqueryui.com/">JQuery UI</a><br />
    <a href="http://www.highcharts.com/">Highcarts</a><br />
    <a href="http://dotnethighcharts.codeplex.com/">DotNet.Highcarts</a><br />
    <a href="http://tablesorter.com/">Tablesorter</a><br />
    <a href="http://www.maxdesign.com.au/articles/css-layouts/one-liquid/">Layout</a>
</p>
