@{
/*
 * Copyright (C) 2012 Hector Eduardo Diaz Campos
 * 
 * This file is part of Mx.DotNet.Statistics.
 * 
 * Mx.DotNet.Statistics is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * Mx.DotNet.Statistics is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Mx.DotNet.Statistics.  If not, see <http://www.gnu.org/licenses/>.
 */
 }
<p>Proyecto para la asignatura de Probabilidad y Estadística de la carrera de Ingeniería en Computación.</p>
<p>Bajo la Licencia GPL.</p>
<h3>Recursos utilizados:</h3>
<ul>
    <li><a href="http://jquery.com/">JQuery</a></li>
    <li><a href="http://jqueryui.com/">JQuery UI</a></li>
    <li><a href="http://www.highcharts.com/">Highcarts</a></li>
    <li><a href="http://dotnethighcharts.codeplex.com/">DotNet.Highcarts</a></li>
    <li><a href="http://tablesorter.com/">Tablesorter</a></li>
    <li><a href="#">Fuente Modulo</a></li>
    <li><a href="http://www.maxdesign.com.au/articles/css-layouts/one-liquid/">Layout</a></li>
</ul>
