@using Web.Controllers
<form method="post" action="/Home/Report">
    <fieldset>
        <legend>Datos a analizar</legend>
        <textarea name="data">@ShowNumberList(HomeController.GetRandomDataSample(ViewBag.Size))</textarea><br />       
        <input type="radio" name="type" value="ungrouped" checked="checked"/>No agrupados
        <input type="radio" name="type" value="grouped" />Agrupados
    </fieldset>
    <input type="submit" value="Submit" />
</form>
@helper ShowNumberList(IEnumerable<double> list)
{
    var text = "";
    foreach (var item in list) {
        text += item + " ,";
    } 
    text=text.Substring(0,text.Length-2);
@text
}