<h4 class="demo6">Informacion sobre los datos</h4>
<div class="panel">
    @Html.Action("DataSummary")
</div> 

<h4 class="demo6">Medidas de tendencia central</h4> 
<div class="panel">
    @Html.Action("CentralTendencySummary")
</div> 

<h4 class="demo6">Medidas de dispersion</h4>
<div class="panel">
    @Html.Action("DispersionSummary")
</div> 
@if(ViewBag.Type == "grouped"){
    @Html.Action("GroupedReport")   
}