<a href="#" id="xilesCalc">Deciles, Percentiles, Cuartiles</a>
<div id="accordion">
    <h3>Informacion sobre los datos</h3>
    <div>
        @Html.Action("DataSummary")
    </div>
    <h3>Medidas de tendencia central</h3>
    <div>
        @Html.Action("CentralTendencySummary")
    </div>   
    <h3>Medidas de dispersion</h3>
    <div>
        @Html.Action("DispersionSummary")
    </div> 
    @if(ViewBag.Type == "grouped"){
    @Html.Action("GroupedReport")   
    }    
</div>
<div id="xileCalPH">
</div>
<script type="text/javascript">
$(function() {
    $( "#accordion" ).accordion({
        heightStyle: "content"
    });      
    
    $( "#xilesCalc" )
        .button()
        .click(function() {
            $.ajax({
                url: 'Home/XileCalculator',
                dataType: "text",
                cache:false,
                success: function(data) {
                    $('#xileCalPH').html(data);
                    $( "#dialog-form" ).dialog({
                        autoOpen: false,
                        width: 350,
                        modal: true,
                        close: function(event, ul){
                            $(".ui-dialog").remove();
                        }
                    });                     
                    $( "#dialog-form" ).dialog( "open" );
                }
            });
        });
});
</script>