<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png"  href="/Content/guindaIPN.ico.png" />
    <script type="text/javascript" language="javascript" src="~/Scripts/jquery-1.8.2.min.js" > </script>
    <script type="text/javascript" language="javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js" > </script>
    <script type="text/javascript" language="javascript" src="~/Scripts/jquery.validate.min.js" > </script>
    <script type="text/javascript" language="javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js" > </script>
    
    <script type="text/javascript" language="javascript" src="~/Scripts/jquery.tablesorter.js" > </script>
    <script type="text/javascript" language="javascript" src="~/Scripts/highcharts.js" > </script>    
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.9.0.custom.min.js"></script>
    
    <link rel="stylesheet" href="/Content/smoothness/jquery-ui-1.9.0.custom.min.css" type="text/css" media="screen" />
    <link href="/Content/blue/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/Content/layout.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="container">
    <div id="header">
        <a href="https://github.com/3kthor3adward/ce_ps"><img src="https://secure.gravatar.com/avatar/a6dc942bd092ab2e7ed8ae739cb7fd0e" class="avatar"/></a>
        <h1>Mx.DotNet.Statistics</h1>
    </div>
    <div id="navigation">
        <ul>
            <li><a href="/Home">Inicio</a></li>
            <li><a href="https://github.com/3kthor3adward/ce_ps/zipball/master">Codigo fuente</a></li>
            <li><a href="/Home/About">Acerca de</a></li>            
        </ul>
    </div>
    <div id="content">
        <h2>
            @ViewBag.Title
        </h2>
        @RenderBody()
    </div>
    <div id="footer">
        <p>Copyright (C) 2012</p>
    </div>
</div>
</body>
</html>

