<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script type="text/javascript" language="javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js" > </script>
    <script type="text/javascript" language="javascript" src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js" > </script>
        <script type="text/javascript" language="javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js" > </script>
    <script type="text/javascript" language="javascript" src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js" > </script>
    
    <script type="text/javascript" language="javascript" src="~/Scripts/jquery.tablesorter.js" > </script>
    <script type="text/javascript" language="javascript" src="~/Scripts/highcharts.js" > </script>    
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.9.0.custom.min.js"></script>
    
    <link rel="stylesheet" href="/Content/smoothness/jquery-ui-1.9.0.custom.min.css" type="text/css" media="screen" />
    <link href="/Content/blue/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/Content/layout.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="container">
    <div id="header">
        <h1>
            Estadística Descriptiva
        </h1>
    </div>
    <div id="navigation">
        <ul>
            <li><a href="/">Inicio</a></li>
        </ul>
    </div>
    <div id="content">
        <h2>
            @ViewBag.Title
        </h2>
        @RenderBody()
    </div>
    <div id="footer">
    </div>
</div>
</body>
</html>

